@import url(../../../stylesheets/application.css);
@import url(./fonts/roboto/roboto.css);
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#top-menu{
  background-color: var(--ds-surface, #FFFFFF);
  color: var(--ds-text-subtlest, #6B778C);
  height: 56px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  border-block-end: 1px solid var(--ds-border, #c0c0c0);
  text-decoration-skip-ink: auto;
  font-size: unset;
  z-index: 100;
  width: calc(100%);
  padding: 0px;
  margin: 0px;
  /* padding-left: 10px; */
  padding-right: 10px;
}

#top-menu a {
  color: var(--ds-text-subtlest, #6B778C);
  padding: 10px;
  border-radius: 5px;
  margin: 0px;
  font-weight: 500;
}

#top-menu #my-page-icon {
  /* background-image: url('../../../images/user.png'); */
  background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2229%22%20height%3D%2229%22%20viewBox%3D%220%200%2024%2024%22%20style%3D%22fill%3A%20%2344546f%22%3E%3Cpath%20d%3D%22M12%202C6.579%202%202%206.579%202%2012s4.579%2010%2010%2010%2010-4.579%2010-10S17.421%202%2012%202zm0%205c1.727%200%203%201.272%203%203s-1.273%203-3%203c-1.726%200-3-1.272-3-3s1.274-3%203-3zm-5.106%209.772c.897-1.32%202.393-2.2%204.106-2.2h2c1.714%200%203.209.88%204.106%202.2C15.828%2018.14%2014.015%2019%2012%2019s-3.828-.86-5.106-2.228z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}

div.profileicon {
  width: 29px;
  height: 29px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 99em;
  vertical-align: middle;
  background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2229%22%20height%3D%2229%22%20viewBox%3D%220%200%2024%2024%22%20style%3D%22fill%3A%20%2344546f%22%3E%3Cpath%20d%3D%22M12%202C6.579%202%202%206.579%202%2012s4.579%2010%2010%2010%2010-4.579%2010-10S17.421%202%2012%202zm0%205c1.727%200%203%201.272%203%203s-1.273%203-3%203c-1.726%200-3-1.272-3-3s1.274-3%203-3zm-5.106%209.772c.897-1.32%202.393-2.2%204.106-2.2h2c1.714%200%203.209.88%204.106%202.2C15.828%2018.14%2014.015%2019%2012%2019s-3.828-.86-5.106-2.228z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
  cursor:pointer;
  margin: 3px;
}

div#profilemenu {
  position: absolute;
  z-index: 999;
  width: 135px;
  right: 10px;
  background-color: #FFFFFF;
  padding: 5px 0 5px 0;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

#profilemenu li a {
  color: #6B778C;
  display: block;
  font-weight: bold;
  padding: 6px 15px;
  cursor: pointer;
  text-decoration:none;
  margin-right: 0;
}

#profilemenu li a:hover, #top-menu li a:hover, #project-jump .drdn-content a:hover,
#main-menu ul a:hover{
  background-color:#E9EAEC;
  text-decoration: none;
  color: #6B778C !important;
}

#topmenu-nav a.selected {
  color: #0c66e4;
  font-weight: 600;
}
#topmenu-nav .highlighted {
  border-bottom: 2px solid #0c66e4;
  padding: 10px 0 10px 0;
}

#topmenu-nav ul{
  display: flex;
  align-items: center;
}

#profilelist {
  list-style: none;
  margin-top: 5px;
}

#profilelist li{
  width: 100%;
}

#header{
  background: #FFFFFF;
  color: #1c3051;
  width: 32%;
  text-align: center;
}

#topmenu-nav{
  display: flex;
  align-items: center;
}

#quick-search #q{
  height: 32px;
  width: 250px;
  padding: 0px var(--ds-space-150, 12px) 0px 30px;
  box-sizing: border-box;
  outline: none;
  border-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  line-height: 20px;
  border: var(--ds-border-width, 1px) solid var(--ds-border-input, #c0c0c0);
  box-shadow: none;
  background-color: var(--ds-background-input, #FFFFFF);
  color: var(--ds-text-subtlest, #6B778C);
  margin-left: 5px;
}

#quick-search label a{
  -moz-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: var(--ds-border-radius, 3px);
  box-sizing: border-box;
  display: inline-flex;
  font-size: inherit;
  font-style: normal;
  font-weight: var(--ds-font-weight-medium, 500);
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
  white-space: nowrap;
  color: var(--ds-text-inverse, #FFFFFF);
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -moz-box-pack: center;
  justify-content: center;
  outline: none;
  background-color: var(--ds-background-brand-bold, #0052CC);
  margin: 0px;
}

#quick-search .expandSearch svg{
  position: relative;
  left: 33px;
}

#quick-search {
  height: 100%;
  display: flex;
  align-items: center;
}

#quick-search form{
  height: 100%;
  display: flex;
  align-items: center;
}

.expandSearch{
  height: 100%;
  display: flex;
  align-items: center;
}

#project-jump .drdn-trigger {
  width: 29px;
  height: 29px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0px;
  /* background-color: #354051; */
  border: none;
  background-color: transparent;
  background-image: unset;
  /* background-image: url('../../../images/projects.png'); */
  padding: 1px;
}

#project-jump .drdn-items strong{
  color: black !important;
  font-weight: bold;
}

#project-jump.drdn {
  width: 29px;
  height: 29px;
}
#project-jump .drdn-content {
  width: 250px;
  border-radius: 5px;
}

#project-jump .drdn-items>* {
  color:#6B778C !important;
  font-weight: normal;
}

.drdn-content {
  top: 35px;
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
}

input.autocomplete {
  background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2024%2024%22%20style%3D%22fill%3A%20%2344546f%3B%22%3E%3Cpath%20d%3D%22M10%2018a7.952%207.952%200%200%200%204.897-1.688l4.396%204.396%201.414-1.414-4.396-4.396A7.952%207.952%200%200%200%2018%2010c0-4.411-3.589-8-8-8s-8%203.589-8%208%203.589%208%208%208zm0-14c3.309%200%206%202.691%206%206s-2.691%206-6%206-6-2.691-6-6%202.691-6%206-6z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
}

#quick-search #q {
  background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2226%22%20viewBox%3D%220%200%2024%2024%22%20style%3D%22fill%3A%20%2344546f%3B%22%3E%3Cpath%20d%3D%22M10%2018a7.952%207.952%200%200%200%204.897-1.688l4.396%204.396%201.414-1.414-4.396-4.396A7.952%207.952%200%200%200%2018%2010c0-4.411-3.589-8-8-8s-8%203.589-8%208%203.589%208%208%208zm0-14c3.309%200%206%202.691%206%206s-2.691%206-6%206-6-2.691-6-6%202.691-6%206-6z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position-x: 2px;
  background-position-y: 50%;
}

#quick-search #q:focus, #projects-quick-search:focus{
  border: 2px solid #1D7AFC;
  color: #000;
}

#notification div.count{
  background-color: #c9372c;
  position: absolute;
  padding: 2px;
  left: 15px;
  border-radius: 10px;
  width: 15px;
  height: 15px;
  top: -3px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

#notification .notify-img {
  margin-right: 5px
}

#project-jump.drdn, #project-jump .drdn-trigger{
  width: max-content;
  height: max-content;
  line-height: unset;
}

#project-jump .drdn-trigger{
  display: flex;
  align-items: center;
  justify-content: center;
}

div#clockINOUT, div#issueLog, div#notification, div#project-jump{
  padding: 3px;
  margin: 0px !important;
}

#clockINOUT:hover, #issueLog:hover, #notification:hover, #project-jump:hover,
#userprofile:hover {
  background-color: #E9EAEC;
  border-radius: 25px;
}

#quick-search #q:hover, #quick-search label:hover{
  background-color: #E9EAEC;
}

#header{
  min-height: unset;
  position: unset;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header h1{
  margin: 0px;
  line-height: normal;
  font-weight: bold;
  font-size: 2em;
}

#main-menu{
  bottom: unset;
  left: unset;
  margin: 0px;
  padding: 0px;
}

#left-nav{
  position: fixed;
  top: 57px;
  height: 100%;
  width: 240px;
  border-right: 2px solid #e2e4ea;
  background: #FFFFFF;
  overflow: auto;
  z-index: 100;
  padding-top: 5px;
}

#main-menu ul{
  display: flex;
  flex-direction: column;
}

#main-menu ul a{
  color: #6B778C;
  font-weight: 500;
  line-height: 2;
}

#main{
  position: relative;
  top: 60px;
  margin-bottom: 60px;
}

#main.sidebar{
  position: relative;
  left: 242px;
  width: calc(100% - 242px);
}

#main-menu li a.selected {
  color: #0c66e4;
  font-weight: 600;
  background-color: #e9f2ff;
}
#main-menu li a{
  width: 100%;
}

#main-menu li.highlighted{
  background-color: #e9f2ff;
}

#sidebar{
  background-color: #FFFFFF;
  width: 100%;
  padding-left: 0px;
  margin: 0px;
  line-height: 2;
  padding-bottom: 50px;
}

.border-top{
  border-top: 2px solid #e2e4ea;
}

#sidebar a.selected {
  line-height: 2;
  padding: 0px;
  margin: 0px;
  padding: 4px 10px 4px 10px;
  background-color: #e9f2ff;
}

#sidebar h3{
  padding: 4px 10px 4px 10px;
}

#main-menu li a.new-object {
  background-color: inherit;
}

#main-menu .menu-children li a{
  color: #6B778C;
}

#main-menu li a.selected:hover {
  color: #0c66e4 !important;
  background-color: #e9f2ff;
}

#main-menu li a:hover {
  background-color: #e9f2ff;
}

#main-menu li:hover {
  background-color: #e9f2ff;
}

.toggle-icon{
  position: fixed;
  top: 90px;
  left: 225px;
  width: 25px;
  height: 25px;
  z-index: 100;
  border-radius: 50%;
  background-color: #0c66e4;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  fill: #FFFFFF
}

.toggle-icon:hover{
  background-color: #006aff;
  border: none;
  fill: #FFFFFF
}

#left-nav.sidenav-left{
  width: 20px;
}

.toggle-icon.left{
  left: 10px;
}

#left-nav.hover{
  width: 240px;
}

.toggle-icon.hover{
  left: 230px;
}

#main.left{
  width: calc(100% - 22px);
  left: 22px;
}

.menu-icon{
  width: 25px;
  height: 25px;
}

#main-menu li {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5px 0px 5px 20px;
}

#main-menu li.highlighted::before {
  width: 4px;
  position: relative;
  background: var(--ds-text-selected, #0052CC);
  border-radius: 0 var(--ds-border-radius, 4px) var(--ds-border-radius, 4px) 0;
  content: "";
  /* inset-block-end: var(--ds-space-150, 18px);
  inset-block-start: var(--ds-space-150, 18px); */
  inset-inline-start: 0px;
  height: 15px;
  left: -15px;
}

#main-menu .menu-children {
  top: 0px;
  box-shadow: 0px 0px 40px rgba(0,0,0,.4);
  border: 1px solid #e2e4ea;
  border-radius: 5px;
}

#main-menu .menu-children li{
  background-color: inherit;
}

#main-menu .menu-children li a{
  background-color: inherit;
  width: inherit;
}

#main-menu .menu-children li a:hover {
  background-color: unset;
}

#main-menu .menu-children li:hover {
  background-color: #e9f2ff;
}

#sidebar p,#sidebar ul, #sidebar h3, #sidebar h4, #sidebar div{
  padding-left: 10px;
}

#admin-menu{
  padding-left: 0px !important;
  font-size: 14px;
}

#admin-menu ul{
  padding-left: 0px;
}

#admin-menu ul li{
  padding-left: 10px;
}

#admin-menu a{
  background: unset !important;
  padding-left: 10px;
}

#admin-menu li {
  display: flex;
  align-items: center;
}

#admin-menu li a.selected {
  padding-left: 10px !important;
}

.box {
  background-color: #FFF;
}

.redmine-logo {
  width: 50px;
  height: 36px;
  text-align: center;
  float: left;
}

.redmine-logo svg{
  width: 26px;
  height: 26px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
  background-size: 26px;
  margin: 5px 12px 5px 12px;
}

.redmine-logo a#redmine-home:hover{
  background-color: unset;
}

#appendlabel {
  padding: 0px !important;
  font-size: inherit !important;
}

#clockINOUT {
  align-items: center;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, 'Fira Sans', Oxygen, 'Open Sans', Ubuntu, sans-serif !important;
}

#content h1, h2, h3, h4, h5, h6 {
  color: #172b4d;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 13px;
  border-bottom: 1px solid #ccc;
  font-weight:normal;
}

html{
  overflow-y: auto;
}

html, body{
  font-family: Roboto, 'Fira Sans', Oxygen, 'Open Sans', Ubuntu, sans-serif !important;
  color: #172b4d;
  font-size: 14px;
  font-weight: 400;
  background-color: #FFFFFF;
}

table.list td{
    border-collapse: collapse;
    border-width: 0px 0px 1px 1px;
    border-style: solid;
    border-color: #e6e6e6;
    text-align:left;
    vertical-align:middle;
    padding: 0px 7.5px 0px 7.5px;
}

table.list td.checkbox {
    width: 15px;
    padding: 2px 0 0 0;
    text-align: center;
}

table.list, .table-list {
  border-width:  0px 1px 0px 0px;
  border-style: solid;
  border-color: #e6e6e6;
  border-radius: 6px;
  font-size: 14px;
}

table.list th, .table-list-header {
  text-align:left;
  background-color:#f7f8f9;
  white-space:nowrap;
  font-weight:bold;
  height: 42px;
  color: #6b778c;
  align-content: center;
  border-width:  1px 0px 1px 1px;
  border-style: solid;
  border-color: #e6e6e6;
  padding: 0px 7.5px 0px 7.5px;
}

table.list th:hover, .table-list-header:hover {
  background-color: #e9ebee;
  box-shadow: inset 0 0 0 3px #f7f8f9;
  color: #657288;
}

/**** table curve *****/
table.list thead th:first-child {
  border-top-left-radius: 6px;
}

table.list thead th:last-child {
  border-top-right-radius: 6px;
}

table.list tbody tr:last-of-type td:first-child {
  border-bottom-left-radius: 6px;
}

table.list tbody tr:last-of-type td:last-child {
    border-bottom-right-radius: 6px;
}

/***** Links *****/
table.list th a,
table.list th a:link,
table.list th a:visited {
    color: #808a9c;
    text-decoration: none;
}

table.list td a,
table.list td a:link,
table.list td a:visited {
    color: #0052CC;
}


table.list td a:hover,
table.list td a:active {
	color: #0052CC;
	text-decoration: underline;
}

table.list th a:hover, table.list th a:active{ color: #657288; text-decoration: underline;}

table.list:not(.odd-even) tbody tr:nth-child(odd), .odd, #issue-changesets div.changeset:nth-child(odd) { background-color:#ffffff; height: 42px !important;}
table.list:not(.odd-even) tbody tr:nth-child(even), .even, #issue-changesets div.changeset:nth-child(even) { background-color: rgb(255, 255, 255);
  height: 42px !important; }
table.list:not(.odd-even) tbody tr:nth-child(odd):hover, .odd:hover, #issue-changesets div.changeset:nth-child(odd):hover,
table.list:not(.odd-even) tbody tr:nth-child(even):hover, .even:hover, #issue-changesets div.changeset:nth-child(even):hover { background-color:#eeeeee; }

[class^="colorcode-box"]{
  font-weight: 500;
  padding: 4px;
  border-radius: 5px;
  text-align: center !important;
  height: 14px;
  width: fit-content;
  display: flex;
  align-items: center;
  box-sizing: unset;
}

form#query_form fieldset > div > b > label {
	float: unset!important;
	padding: 5px;
}

/*submit button change */
input[type="submit"], button {
	-moz-box-align: baseline;
	align-items: baseline;
	border-width: 0px;
	border-radius: var(--ds-border-radius, 5px);
	box-sizing: border-box;
	display: inline-flex;
	font-size: inherit;
	font-style: normal;
	font-weight: var(--ds-font-weight-medium, 500);
	max-width: 100%;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: background 0.1s ease-out, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
	white-space: nowrap;
	color: var(--ds-text-inverse, #FFFFFF);
	cursor: pointer;
	height: 2.28571em;
	line-height: 2.28571em !important;
	padding: 0px 10px;
	vertical-align: middle;
	width: auto;
	-moz-box-pack: center;
	justify-content: center;
	outline: none;
	background-color: var(--ds-background-brand-bold, #0052CC);
	margin: 0px;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
	background-color: #064fb6;
	color: #fff;
}

div.issue {background: #fff;}



a.icon {
  color: var(--ds-text-inverse, #016bff);
  flex:10px;
}

.tooltip{
  z-index: 9;
}

table#materialtable {
  box-sizing: unset;
}

#login-form {
  box-shadow: 0 2px 10px rgba(0,0,0,.2);
  border: unset;
  background-color: #FFF;
}

/* Basic styles for the text box */
input[type="text"], input[type="date"], input[type="password"]{
	background-color: #fff;
	height: 32px;
}

/* Hover effect for the text box */
input[type="text"]:hover, input[type='radio']:hover,
input[type='checkbox']:hover, input[type="password"]:hover {
  background-color: #FAFBFC;
}

input[type='radio'], input[type='checkbox'] {
  width: 20px;
  height: 20px;
  accent-color: #0c66e4;
  margin: 0 4px;
}

#context-menu, #context-menu a{
  color: #44546f !important;
}

#context-menu:hover, #context-menu a:hover{
  color: #016bff !important;
}

select {
  height: 32px;
}

input:focus, select:focus, textarea:focus, input[type="text"]:focus, input[type="date"]:focus, input[type="password"]:focus {
  border: 2px solid #1D7AFC;
  color: #000;
}

input, select, textarea, button {
  border-radius: 5px;
}

select[multiple=multiple] {
  height: auto;
}

span.select2-container--default span.select2-selection--single{
  border-radius: 5px;
  height: 32px;
}

.approve, .submit, .hire, .convert_lead {
  background-color: #449d44 !important;
  ;
}

.reject, .cancel_leave {
  background-color: #c9372c !important;
}

.approve:hover, .submit:hover, .hire:hover, .convert_lead:hover {
  background-color: #388438 !important;
}

.reject:hover, .cancel_leave:hover {
  background-color: #bc2116 !important;
}

div.width33{
  width: 33%;
  min-width: 360px;
}

#quick-search #q {
  width: 156px;
}

#projects-index ul.projects div.root a.project, #projects-index a.project {
  font-family: Roboto, 'Fira Sans', Oxygen, 'Open Sans', Ubuntu, sans-serif;
  font-weight: 700;
  color: #0052CC
}

#projects-index a.project{
  font-weight: 500;
}

#quick-search input[type='text']{
  height: 32px;
}

td.hours a{
  margin-left: 5px;
}

td.icon-group{
  padding-left: 17px !important;
}

.gantt_subjects div > span.expander {
  padding-left: 17px;
}

svg {
  &.icon-svg {
    stroke: #016bff;
  }
}

#sidebar-switch-panel{
  display: none;
}

#sidebar h3, #sidebar {
  font-size: 14px;
}

a.icon:hover svg, a.icon-only:hover svg {
  stroke: #016bff;
}

#admin-menu svg {
  stroke: #44546f;
  width: 24px;
  height: 24px;
  stroke-width: 2.1px;
}

#admin-menu li.highlighted svg {
  stroke: #016bff;
  fill: none !important;
}

html>body .tabular p, table.list, .table-list {
  overflow: unset;
}

.splitcontent,
.ui-widget-content,
.ui-dialog .ui-dialog-content {
  overflow: visible;
}

.ui-widget-header {
  background-color:#f7f8f9;
}